/*
body { background-color:lightblue; }
#obal { background-color:white; width:600px; margin:0 auto; padding:20px; }
h1 { background-color: blue; color: white; text-align: center; }
#vypis { border: 1px solid darkred; text-align: center; }
.text { text-align: justify; }
.center { text-align: center; }
#paticka { text-align: center; padding: 5px; background-color: darkgray; margin-top: 10px;}*/
