{# #### Sablona hlavicky pro vsechny stranky #### #}

{# pripojuju makra #}
{% import "macro.twig" as macro %}

{# HTML #}
<div class="container" id="contributions">
    <div class="bg-black bg-opacity-10 p-5 rounded">
        <h1>Navbar example</h1>
        <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
        <a class="btn btn-lg btn-primary end-0" href="#" role="button">View navbar</a>
    </div>
</div>