{# #### Sablona hlavicky pro vsechny stranky #### #}

{# pripojuju makra #}
{% import "macro.twig" as macro %}

{# HTML #}
<header>


    <!-- Background image -->
    <div class=" text-center bg-image"
         style=" background-image: url('{{ macro.IMG_DIR }}/header/header_ai.jpg');height: 500px;">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-start ps-2 ps-sm-5 align-items-left align-items-sm-center container" style="height: 500px">
                <div class="text-white">
                    <h1 class="mb-5 fw-bold fs-1 font-monospace text-left mt-5 mt-sm-0 ps-1 ps-sm-0" style="text-align:left!important;font-size:3.0rem!important;">Vliv umělé inteligence na vývoj společnosti</h1>
                    <div class="ps-1 ps-md-5 gap-3 d-flex justify-content-start flex-column text-left align-items-start">
                        <h4 class="mb-3">
                            <i class="fa fa-calendar me-2"></i>
                            3.5. - 5.5. 2022
                        </h4>
                        <h4 class="mb-3">
                            <i class="fa-solid fa-location-dot me-2"></i>
                             ZČU FAV Plzeň
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>