{# #### Sablona pro Twig v.2 - vypis uvodni stranky #### #}

{# dedim od zakladni sablony #}
{% extends "template-basic.twig" %}

{# prekryvam cely blok obsahu #}
{% block obsah %}

    <div class="container">

        <form action="#" method="post" target="_blank" accept-charset="UTF-8" autocomplete="on">

            <div class="mb-3">
                <label class="form-label" for="contribution_name">Název</label>
                <input class="form-control" type="text" name="contribution_name" id="contribution_name"
                       required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="contribution_abstract">Abstrakt</label>
                <textarea class="form-control" id="contribution_abstract" name="contribution_name" rows="4"
                          cols="50"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label" for="contribution_abstract">Soubor PDF</label>
                <input class="form-control" type="file" id="contribution_abstract" name="contribution_abstract"
                       accept=".application/pdf">
            </div>

            <input class="btn btn-lg btn-primary mt-3" type="submit" name="contribution_submit" id="contribution_submit"
                   value="Uložit">


        </form>
    </div>

{% endblock %}