{# #### Sablona pro Twig v.2 - vypis uvodni stranky #### #}

{# dedim od zakladni sablony #}
{% extends "template-basic.twig" %}

{# prekryvam cely blok header #}
{% block header %}

    {{ include('inc-header.twig') }}

{% endblock %}

{% block title %}
<div class="container mb-5">
    <h1>Příspěvky</h1>
</div>
{% endblock %}

{# prekryvam cely blok obsahu #}
{% block obsah %}

    {% block contributions %}
        {% include("contributions.twig") %}
    {% endblock %}

{% endblock %}