{# #### Sablona pro Twig v.2 - vypis uvodni stranky #### #}

{# dedim od zakladni sablony #}
{% extends "template-management_item.twig" %}

{# pripojuju makra #}
{% import "macro.twig" as macro %}



{% block title %}
{% endblock %}

{% block review_title %}
    Přidělení recenze
{% endblock %}

{% block review %}
    {% if logged_role is defined and logged_role is not null and logged_role == 2%}

    <form class="p-1 pt-" action="#" method="post" target="_blank" accept-charset="UTF-8" autocomplete="on">

        {{ macro.form_select_input(page, selected_users, users, "První Recenzent", "reviewer_1",1) }}

        {{ macro.form_select_input(page, selected_users, users, "Druhý Recenzent", "reviewer_2",2) }}

        {{ macro.form_select_input(page, selected_users, users, "Třetí Recenzent", "reviewer_3",3) }}


        <button type="submit" name="action" value="reviewAssignement_submit" id="reviewAssignement_submit"
                class="btn btn-lg btn-primary mt-3">Uložit</button>




    </form>
    {% endif %}
{% endblock %}